.logo img
{
    width: 120px;
    height: 120px;
    border-radius: 90%;
}

li
{
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .navbar-nav1
{
    justify-content: right;
} */

.dropdown
{
    text-align: right;
}

.content{
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30vh;
}
.content img
{
    height: 700px;
    width: 300px;
    /* position: absolute;
    right: 30px;
    padding-bottom: 330px;
    align-items: center;
    display: flex; */
}

.content h1
{
    font-family: 'Source Code Pro', monospace;
    /* padding-left: 70px;
    padding-top: 150px; */
}

.dash h1
{
    font-family: 'Source Code Pro', monospace;
}

.dash{
        height: 30vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 30vh;
        padding-right: 30vh;
}

.cool
{
    padding-left: 1200px;
    padding-bottom: 200px;
}

/* .btn
{
    padding-top: 300px;
} */

#clock {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
  }

.time
{
    text-align: center;
    padding-top: 10%;
    padding-right: 20%;
}


.ud h1
{
    font-family: 'Source Code Pro', monospace;
}

.ud{
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30vh;
    padding-right: 30vh;
}

